body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 120s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

a:visited {
  color: rgb(253, 232, 232);
  text-decoration: none;
}

.content {
  border: 2px black solid;
  margin: 1vw;
  padding: 1vw;
}

.head {
  border: 2px red solid;
  padding: 1vw;
  justify-self: center;
  text-align: center;
  align-items: center;

  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-gap: 1vw;
}

.aboutMe {
  border: 2px black solid;
  margin: 1vw;
  padding: 1vw;
  align-items: center;

  display: grid;
  grid-template-columns: repeat(2, 30vw);
  grid-gap: 1vw;
}

.aboutMe h3 {
  border: 2px solid red;
  text-align: center;
  font-size: x-large;
}

.projects {
  border: 2px solid black;
  margin: 1vw;
  padding: 1vw;
  text-align: center;
}

.projects h2 {
  text-decoration: underline;
}

.projects div div {
  border: 2px solid green;
}

.projectExamples {
  border: 2px solid red;
  margin: 1vw;
  padding: 1vw;
  justify-content: center;

  display: grid;
  grid-template-columns: repeat(2, 30vw);
  grid-gap: 1vw;
}

.contact {
  border: 2px solid black;
  margin: 1vw;
  padding: 1vw;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  grid-gap: 1vw;
}

.contact h4 {
  text-decoration: underline;
}

.find div div {
  padding: 1vw;

  border: 2px solid red;
}

.findPhoto {
  align-items: center;
  border: 2px solid blue;
  padding: 1vw;
  margin: 1vw;
}
